﻿@model IEnumerable<API_Library_2._0.GetParentStudentDirectory_Result>
@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "Student & Parent Directory";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Index", "Directory", FormMethod.Get))
{
    <div>
        @Html.TextBox("SearchString", ViewBag.SearchString as string, new { style = "width: 300px;", placeholder = "search for name, zip code or grade here"})
        &nbsp;&nbsp;&nbsp;<input id="Search" type="submit" value="Search" />
        <input id="Clear" type="submit" value="Clear" />
    </div>
    <div style="position: absolute; top: 65px; right: 10em; border: solid 1px; width: 320px; padding:5px 20px;">Grades: &nbsp;&nbsp;9th&nbsp;&nbsp;@Html.CheckBox("chbox9")&nbsp;&nbsp;10th&nbsp;&nbsp;@Html.CheckBox("chbox10")&nbsp;&nbsp;11th&nbsp;&nbsp;@Html.CheckBox("chbox11")&nbsp;&nbsp;12th&nbsp;&nbsp;@Html.CheckBox("chbox12")</div>
    <div style="position: absolute; top: 145px; right: 1em; width: 380px; color:#bcbcbc;">Click on a row to reveal a students parent information.</div>
}
<style>  
    #hiddenrow { column-count: 4; }
    .grid-table tr:hover { background-color: white !important; border: 2px solid gray; }
	.parent-info tr:hover { border: none; }
	.grid-table tr:nth-child(even) {border: none !important; }
    a:link {
        text-decoration: none;
        }

    a:visited {
            text-decoration: none;
        }
    </style>
<script>

    $(function () {

        // Clear the search grid
        $("#Clear").on("click", function (event) {
            $("#SearchString").val("");
        });

        // Grid row select event code
        //pageGrids.studentGrid.onRowSelect(function (e) {
        //    alert(e.row.uid);
        //});

    });
@*    //@Html.Grid(Model).Columns(column => { }).Attributes(id => "id-of-your-choice") *@
</script>
<div id="row" onclick="showDiv(this.id)"> </div>
    @Html.Grid(Model).Named("studentGrid").Columns(columns =>
    {
        /* Adding "OrderID" column: */
        columns.Add(model => model.LastName)
               .Titled("Last Name")
               .Filterable(true)
               .Sortable(true)
               .SortInitialDirection(GridSortDirection.Ascending)
               .SetWidth(150);

        columns.Add(model => model.FirstName)
               .Titled("First Name")
               .Filterable(true)
               .Sortable(true)
               .SetWidth(100);

        columns.Add(model => model.GradeLevel)
               .Titled("Grade Level")
               .Filterable(true)
               .Sortable(true)
               .SetWidth(100);

        columns.Add(model => model.StudentEmail)
               .Titled("Email")
               .Filterable(false)
               .Sortable(false)
               .SetWidth(150);
        columns.Add()
               .Encoded(false)
               .Sanitized(false)
               .SetWidth(250)
               .RenderValueAs(d =>

                     @<b>
                          <a href="#"><span style="color: #808080;">&nbsp;&nbsp;&nbsp;&nbsp;&#9660</span></a>      <!-- &#10552; -->      </b>);

            columns.Add()
               .Encoded(false)
               .Sanitized(false)
               .SetWidth(500)
               .RenderValueAs(d =>
                   @<b>
                   </b>);

    }).WithPaging(10).Selectable(false)

<script>
    function showDiv(id) {
        //alert("id = " + id);
        var divid = "h" + id;
        //alert("divid = " + divid);
        var state = document.getElementById(divid).style.display;
        if (state === '') { document.getElementById(divid).style.display = "none"; }
        else { document.getElementById(divid).style.display = ""; }
    }
</script>