﻿@using GridMvc.Columns
@model GridMvc.IGrid

@if (Model == null) { return; }
@if (Model.RenderOptions.RenderRowsOnly)
{
    @RenderGridBody();
}
else
{
    <div class="grid-mvc" data-lang="@Model.Language" data-gridname="@Model.RenderOptions.GridName" data-selectable="@Model.RenderOptions.Selectable.ToString().ToLower()" data-multiplefilters="@Model.RenderOptions.AllowMultipleFilters.ToString().ToLower()">
        <div class="grid-wrap">
            <table class="table table-striped grid-table">
                @* Draw grid header *@
                <thead>
                    @RenderGridHeader()
                </thead>
                <tbody>
                    @RenderGridBody()
                </tbody>
            </table>
            @RenderGridPager()
        </div>
    </div>
}
@helper RenderGridBody()
{
if (!Model.ItemsToDisplay.Any())
{
        <tr onclick="showDiv('row1')" class="grid-empty-text">
            <td colspan="@Model.Columns.Count()">
                @Model.EmptyGridText
            </td>
        </tr>
}
else
{
    var cnt = 100;
    foreach (object item in Model.ItemsToDisplay)
    {
        var detail = new API_Library_2._0.GetParentStudentDirectory_Result();
        var parents1info = new string[2];
        var parents2info = new string[2];
        var parentsemail = new string[4];

        for (var m = 0; m < 4; m++) { parentsemail[m] = "none"; }
        //****
        //var SomeObject = new { .../*properties*/... };
        var PropertyInfos = item.GetType().GetProperties();
        foreach (var pInfo in PropertyInfos)
        {
            string propertyName = pInfo.Name; //gets the name of the property

            switch (propertyName)
            {
                case "Parents1":
                    detail.Parents1 = pInfo.GetValue(item).ToString();
                    if (detail.Parents1.Contains("|"))
                    {
                        parents1info[0] = detail.Parents1.Substring(0, detail.Parents1.IndexOf("|"));
                        if (parents1info[0].Contains("@"))
                        {
                            var tmp = parents1info[0].Split(' ');
                            for (var i = 0; i < tmp.Count(); i++)
                            {
                                if (tmp[i].Contains("@"))
                                {
                                    parentsemail[0] = tmp[i];
                                    parents1info[0] = parents1info[0].Replace(tmp[i].Trim().ToString(), "");
                                }
                            }
                        }
                        else
                        {
                            parentsemail[0] = "none";
                        }

                        parents1info[1] = detail.Parents1.Substring(detail.Parents1.IndexOf("|") + 2);
                        if (parents1info[1].Contains("@"))
                        {
                            var tmp = parents1info[1].Split(' ');
                            for (var i = 0; i < tmp.Count(); i++)
                            {
                                if (tmp[i].Contains("@"))
                                {
                                    parentsemail[1] = tmp[i];
                                    parents1info[1] = parents1info[1].Replace(tmp[i].Trim().ToString(), "");
                                }
                            }
                        }
                        else
                        {
                            parentsemail[1] = "none";
                        }
                    }
                    else
                    {
                        parents1info[0] = detail.Parents1;
                        if (parents1info[0].Contains("@"))
                        {
                            var tmp = parents1info[0].Split(' ');
                            for (var i = 0; i < tmp.Count(); i++)
                            {
                                if (tmp[i].Contains("@"))
                                {
                                    parentsemail[0] = tmp[i];
                                    parents1info[0] = parents1info[0].Replace(tmp[i].Trim().ToString(), "");
                                }
                            }
                        }
                        else { parentsemail[0] = "none"; }
                    }
                    break;
                case "AddressBlock1":
                    detail.AddressBlock1 = pInfo.GetValue(item).ToString();
                    break;
                case "CityStatePostBlock1":
                    detail.CityStatePostBlock1 = pInfo.GetValue(item).ToString();
                    break;
                case "HomePhone1":
                    detail.HomePhone1 = pInfo.GetValue(item).ToString();
                    break;
                case "Siblings":
                    detail.Siblings = pInfo.GetValue(item).ToString();
                    break;
                case "Parents2":
                    detail.Parents2 = pInfo.GetValue(item).ToString();
                    if (detail.Parents2.Contains("|"))
                    {
                        parents2info[0] = detail.Parents2.Substring(0, detail.Parents2.IndexOf("|"));
                        if (parents2info[0].Contains("@"))
                        {
                            var tmp = parents2info[0].Split(' ');
                            for (var i = 0; i < tmp.Count(); i++)
                            {
                                if (tmp[i].Contains("@"))
                                {
                                    parentsemail[2] = tmp[i];
                                    parents2info[0] = parents2info[0].Replace(tmp[i], "");
                                }
                            }
                        }
                        else
                        {
                            parentsemail[2] = "none";
                        }

                        parents2info[1] = detail.Parents2.Substring(detail.Parents2.IndexOf("|") + 2);
                        if (parents2info[1].Contains("@"))
                        {
                            var tmp = parents2info[1].Split(' ');
                            for (var i = 0; i < tmp.Count(); i++)
                            {
                                if (tmp[i].Contains("@"))
                                {
                                    parentsemail[3] = tmp[i];
                                    parents2info[1] = parents2info[1].Replace(tmp[i], "");
                                }
                            }
                        }
                        else
                        {
                            parentsemail[3] = "none";
                        }
                    }
                    else
                    {
                        parents2info[0] = detail.Parents2;
                        if (parents2info[0].Contains("@"))
                        {
                            var tmp = parents2info[0].Split(' ');
                            for (var i = 0; i < tmp.Count(); i++)
                            {
                                if (tmp[i].Contains("@"))
                                {
                                    parentsemail[2] = tmp[i];
                                    parents2info[0] = parents2info[0].Replace(tmp[i], "");
                                }
                            }
                        }
                        else { parentsemail[2] = "none"; }
                    }
                    break;
                case "AddressBlock2":
                    detail.AddressBlock2 = pInfo.GetValue(item).ToString();
                    break;
                case "CityStatePostBlock2":
                    detail.CityStatePostBlock2 = pInfo.GetValue(item).ToString();
                    break;
                case "HomePhone2":
                    detail.HomePhone2 = pInfo.GetValue(item).ToString();
                    break;
                default:
                    break;
            }

        }
        //******
        //detail.Parents1 = item.GetValue("Parents1");
        //column.GetCell(item).ToString();
        //System.Reflection.PropertyInfo pi = item.GetType().GetProperty("Name");
        //String name = (String)(pi.GetValue(item, null));

        //if (column.Name == "HomePhone1") { detail.Parents1 = column.GetCell(item).ToString(); }
        //if (column.Name == "CityStatePostBlock1") { detail.Parents1 = column.GetCell(item).ToString(); }
        //if (column.Name == "AddressBlock1") { detail.Parents1 = column.GetCell(item).ToString(); }


        //@detail = (Schoology.App.MyValor.EDMs.GetParentStudentDirectory_Result)item;
        <tr id="@cnt" onclick="showDiv(this.id)" class="parent-info grid-row @Model.GetRowCssClasses(item)">
            @foreach (IGridColumn column in Model.Columns)
            {
                @column.CellRenderer.Render(column, column.GetCell(item))
            }
        </tr>
        string ct = "h" + @cnt;
            <tr id="@ct" style="display: none;">
                <td colspan=5>
                    <div style="border: solid 1px #808080; width: 100%; margin: 5px 3px; padding: 5px 15px; display: inline-block;">
                        <div style="float: left; margin: 0 10px; padding: 5px 10px;">
                            <table class="parent-info">
                                <tr>
                                    <td class="parenttable"><b>Parents:</b></td>
                                    <td>
                                        @parents1info[0]
                                    @if (parentsemail[0] != "none")
                                    {
                                        <br /><span style="margin-left: 10px;"><a href="mailto:@parentsemail[0]">@parentsemail[0]</a></span>
                                    }
                                    @if (parents1info[1] != "")
                                    {
                                        <br />@parents1info[1]

                                    }
                                            @if (parentsemail[1] != "none")
{
                    <
    <br /><span style="margin-left: 10px;"><a href="mailto:@parentsemail[1]">@parentsemail[1]</a></span>
}
</td>
</tr>
<tr><td class="parenttable"><b>Address:</b></td><td>@detail.AddressBlock1</td></tr>
<tr><td class="parenttable">&nbsp;</td><td>@detail.CityStatePostBlock1</td></tr>
@if (detail.HomePhone1 != "000-000-0000")
{
    <tr><td class="parenttable">&nbsp;</td><td>@detail.HomePhone1</td></tr>
}

@if (detail.Siblings != "")
            {
    <tr><td class="parenttable"><b>Siblings:</b></td><td>@detail.Siblings</td></tr>
}
</table>
</div>
@if (detail.Parents2 != "")
{
    <div style="margin: 0 5px 0 15px; padding: 5px 10px;">
        <table class="parent-info">
            <tr>
                <td class="parenttable"><b>Parents:</b></td>
                <td>
                    @parents2info[0]
                @if (parentsemail[2] != "none")
                {
                    <br /><span style="margin-left: 10px;"><a href="mailto:@parentsemail[2]">@parentsemail[2]</a></span>
                }
                @if (parents1info[1] != "")
                {
                    <br />@parents1info[1]

                }
                @if (parentsemail[3] != "none")
                {
                    <br /><span style="margin-left: 10px;"><a href="mailto:@parentsemail[3]">@parentsemail[3]</a></span>
                }

            </td>
        </tr>
        <tr><td class="parenttable"><b>Address:</b></td><td>@detail.AddressBlock2</td></tr>
        <tr><td class="parenttable">&nbsp;</td><td>@detail.CityStatePostBlock2</td></tr>
        @if (detail.HomePhone2 != "000-000-0000")
                {
            <tr><td class="parenttable">&nbsp;</td><td>@detail.HomePhone2</td></tr>
        }
    </table>
</div>
}
</div>
@*
        <div style="border: solid 1px #808080; width: 100%; margin: 5px 10px; display: inline-block;">
        <div style="float: left; margin: 0 10px; padding: 5px 10px;">
            <div style="margin-right: 10px; text-align: right; width: 35px; display: inline;"><b>Parents:</b></div>@detail.Parents1
            @if (detail.Siblings != "")
            {
                Write("(Siblings: " + @detail.Siblings + ")");
            }
            <br />
            <div style="text-align: right; width: 35px; display: inline; margin-right: 10px;">
                <b>Address:&nbsp;&nbsp;</b>
            </div>
            <div style="text-align: right; width: 35px; display: inline;">
                @detail.AddressBlock1 <br />
                @detail.CityStatePostBlock1
            </div>
            <br />
            <div style="text-align: right; width: 35px; display: inline;margin-right: 10px; "><b>Phone:</b></div>@detail.HomePhone1
        </div>

        @if (detail.Parents2 != "")
        {
            <div style="display: inline-block; display:inline-block; margin: 0 10px 0 30px; padding: 5px 10px;">
                @detail.Parents2 <br />@detail.AddressBlock2 <br />@detail.CityStatePostBlock2 <br />@detail.HomePhone2
            </div>
        }
    </div>
*@
<div style="border: solid 1px #808080; width: 100%; margin: 5px 10px; display: inline-block;">
    <div style="float: left; margin: 0 10px; padding: 5px 10px;">
        <div style="margin-right: 10px; text-align: right; width: 35px; display: inline;"><b></b></div>
        <br />
        <div style="text-align: right; width: 35px; display: inline; margin-right: 10px;">
            <b></b>
        </div>
        <div style="text-align: right; width: 35px; display: inline;">
            <br />
        </div>
        <br />
        <div style="text-align: right; width: 35px; display: inline;margin-right: 10px; "><b></b></div>
    </div>

    <div style="display: inline-block; display:inline-block; margin: 0 10px 0 30px; padding: 5px 10px;">
        <br /><br /><br />
    </div>
</div>
</td>
</tr>
        cnt++;
    }
}
}
@helper RenderGridHeader()
{
    <tr>
        @foreach (IGridColumn column in Model.Columns)
        {
            @column.HeaderRenderer.Render(column)
        }
    </tr>
}
@helper RenderGridPager()
{
if (Model.EnablePaging && Model.Pager != null)
{
        <div class="grid-footer">
            @Html.Partial(Model.Pager.TemplateName, Model.Pager)
        </div>
}
}
